

    /* Navigation Bar */
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #333;
        color: white;
    }

    .header-logo {
        display: flex;
        height: 20px;
        width: auto;
        align-items:center;
    }



