.tab-bar-1 p {
    font-size: var(--tab-bar-p-element-text-font-size);
    padding: 10px;
}

.tab-bar-1 {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    background-color: var(--tab-bar-background-color-lightPink);
    padding-top: 40px;
}

@media (min-width: 600px) {
    .tab-bar-1 {
        display: flex;
    }
}

.tab-bar-1-image-container {
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (min-width: 600px) {
    .tab-bar-1-image-container {
        /* align-content: center; */
        /* width: 50%; */
        margin: auto;
        width: 500px;
        height: 400px;
    }
}

@media (min-width: 600px) {
    .tab-bar-1-image {
        /* object-fit: cover; */
        width: 90%;
        height: 80%;
        object-fit: contain;
    }
}

.tab-bar-1-tiles {
    /* margin-top: 40px; */
}

@media (min-width: 600px) {
    .tab-bar-1-tiles {
        width: 50%;
    }
}

.tab-bar-1-tile {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 15px;
}

.tab-bar-1-tile-bottom {
    border-bottom: none;
}

.tab-bar-1-tile:hover {
    background-color: var(--alt-background-color);
    border-bottom: 5px solid rgb(160, 69, 245);
}
