.tab-bar-3 p {
    font-size: var(--tab-bar-p-element-text-font-size);
}

.tab-bar-3 {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    background-color: var(tab-bar-background-color);
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) {
    .tab-bar-3 {
        flex-direction: row;
    }
}

.tab-bar-3-container {
    text-align: center;
    margin: 30px;
    align-content: center;
    /* padding: 30px; */
}

/* @media (min-width: 600px) {
    .tab-bar-3-container {
    }
} */

.tab-bar-3-container-textarea {
    padding: 30px;
}

.tab-bar-3-button {
    /* border-radius: 10%; */
    font-size: var(--tab-bar-button-text-font-size);
    border: none;
    padding: 30px;
    cursor: pointer;
    background-color: var(--tab-bar-button-background-color);
}

.tab-bar-3-button:hover {
    box-shadow: var(--tab-bar-box-shadow-glow);
}

.tab-bar-3-right-container {
    margin-top: 20px;
    /* width: 70%; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (min-width: 600px) {
    .tab-bar-3-image-container {
        /* align-content: center; */
        /* width: 50%; */
        margin: auto;
        width: 500px;
        height: 400px;
    }
}

.tab-bar-3-image {
    /* object-fit: cover; */
    width: 90%;
    height: 70%;
    object-fit: contain;
    border-radius: 20%;
    /* border: 1px solid #c1e9ff;
     */
    border: 1px solid var(--tab-bar-button-background-color);
    padding: 30px;
}

.tab-bar-3-image:hover {
    box-shadow: var(--tab-bar-box-shadow-glow);
}

@media (min-width: 600px) {
    .tab-bar-3-image {
        /* object-fit: cover; */
        width: 90%;
        height: 80%;
        object-fit: contain;
    }
}
