.tab-bar-3 p {
    font-size: 20px;
}

.tab-bar-3 button {
    font-size: 20px;
}

.tab-bar-3 {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    background-color: var(tab-bar-background-color);
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) {
    .tab-bar-3 {
        flex-direction: row;
    }
}

.tab-bar-3-container {
    text-align: center;
    margin: 30px;
    align-content: center;
    /* padding: 30px; */
}

@media (min-width: 600px) {
    .tab-bar-3-container {
    }
}

.tab-bar-3-container-textarea {
    padding: 30px;
}

.tab-bar-3-container-button {
    border-radius: 10%;
    border: none;
    padding: 30px;
    cursor: pointer;
}

.tab-bar-3-container-button:hover {
    box-shadow: 0 0 50px 20px #c1e9ff;
}

.tab-bar-3-right-container {
    margin-top: 20px;
    /* width: 70%; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (min-width: 600px) {
    .tab-bar-3-image-container {
        /* align-content: center; */
        /* width: 50%; */
        margin: auto;
        width: 500px;
        height: 400px;
    }
}

.tab-bar-3-image {
    /* object-fit: cover; */
    width: 90%;
    height: 70%;
    object-fit: contain;
    border-radius: 20%;
    border: 1px solid #c1e9ff;
    padding: 30px;
}

.tab-bar-3-image:hover {
    box-shadow: 0 0 50px 20px #c1e9ff;
}

@media (min-width: 600px) {
    .tab-bar-3-image {
        /* object-fit: cover; */
        width: 90%;
        height: 80%;
        object-fit: contain;
    }
}

.tab-bar-1-tabs {
    margin-top: 40px;
}

@media (min-width: 600px) {
    .tab-bar-1-tabs {
        width: 50%;
    }
}

.tab-bar-1-tab {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 15px;
}

.tab-bar-1-tab-bottom {
    border-bottom: none;
}

.tab-bar-1-tab:hover {
    background-color: var(--alt-background-color);
    border-bottom: 5px solid rgb(160, 69, 245);
}

@media (min-width: 600px) {
    .tab-bar-1 {
        display: flex;
    }
}
