.tab-bar-2 {
    border-bottom: 1px solid grey;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.tab-bar-2 p {
    font-size: var(--tab-bar-p-element-text-font-size);
    padding: 10px;
}

/* rows */

.tab-bar-2-row {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

@media (min-width: 600px) {
    .tab-bar-2-row {
        flex-direction: row;
        justify-content: space-between;
    }
}

.tab-bar-2-row-bottom {
    display: none;
}

/* .tab-bar-2-row-bottom.is-shown {
    display: flex;
} */

@media (min-width: 600px) {
    .tab-bar-2-row-bottom {
        display: flex;
    }
}

.is-hidden {
    display: none;
}

@media (min-width: 600px) {
    .is-hidden {
        display: flex;
    }
}

.is-shown {
    display: flex;
}

/* tabs */

.tab-bar-2-tabs {
    padding: 15px;
}

.tab-bar-2-image {
    border-radius: 10%;
    width: 60%;
    height: 50%;
    object-fit: fill;
}

@media (min-width: 600px) {
    .tab-bar-2-image {
        width: 100%;
        height: 50%;
        object-fit: contain;
    }
}

/* button */

.tab-bar-2-button {
    background-color: var(--tab-bar-button-background-color);
    font-size: var(--tab-bar-button-text-font-size);
    border: none;
    width: 200px;
    padding: 20px;
}

.tab-bar-2-button:hover {
    box-shadow: var(--tab-bar-box-shadow-glow);
}

@media (min-width: 600px) {
    .tab-bar-2-button {
        display: none;
    }
}
