<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../css/global.css" />
    </head>
    <body>
        <!-- footer Section -->
        <footer class="footer">
            <section class="">
                <div class="footer-company">
                    <label for="footer-company"></label>
                    <select id="footer-company" name="footer-company">
                        <option class="test" value="null">Company</option>
                        <option value="about">About Us</option>
                        <option value="contact">Contact Us</option>
                    </select>
                </div>
                <br />
                <div class="footer-legal">
                    <label for="footer-legal"></label>
                    <select id="footer-legal" name="footer-legal">
                        <option value="null">Legal</option>
                        <option value="cookie">Cookie Policy</option>
                        <option value="privacy">Privacy Policy</option>
                        <option value="terms">Terms of Service</option>
                    </select>
                </div>
            </section>
            <p class="footer-rights">&copy; 2024 - All rights reserved</p>
        </footer>
    </body>
</html>
