<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="The best website about VR" />
        <title></title>
        <link rel="stylesheet" href="../css/global.css" />
        <script defer src="../js/tab-bar-1.js"></script>
        <script defer src="../js/tab-bar-2.js"></script>
        <script defer src="../js/tab-bar-3.js"></script>
    </head>
    <body>
        <div class="tab-bar-1">
            <div class="tab-bar-1-image-container">
                <img
                    src="../images/tab-bar-1-img-1.png"
                    class="tab-bar-1-image"
                />
                <p class="image-text">Some message about the image</p>
            </div>
            <div class="tab-bar-1-tabs">
                <div class="tab-bar-1-tab">
                    <h2>Tab 1 title</h2>
                    <p>Tab 1 description text...</p>
                </div>
                <div class="tab-bar-1-tab">
                    <h2>Tab 2 title</h2>
                    <p>Tab 2 description text...</p>
                </div>
                <div class="tab-bar-1-tab">
                    <h2>Tab 3 title</h2>
                    <p>Tab 3 description text...</p>
                </div>
                <div class="tab-bar-1-tab tab-bar-1-tab-bottom">
                    <h2>Tab 4 title</h2>
                    <p>Tab 4 description text...</p>
                </div>
            </div>
        </div>
        <div class="tab-bar-2-heading-text">
            <h2>Some facts about the company</h2>
        </div>
        <div class="tab-bar-2">
            <div class="tab-bar-2-tabs-row">
                <div class="tab-bar-2-tabs">
                    <img
                        src="../images/tab-bar-2-img-1.png "
                        width="100"
                        height="100"
                        class="tab-bar-2-image"
                    />
                    <h2>Lorem ipsum</h2>
                    <p>Some text...</p>
                </div>
                <div class="tab-bar-2-tabs">
                    <img
                        src="../images/tab-bar-2-img-2.png"
                        width="100"
                        height="100"
                        class="tab-bar-2-image"
                    />
                    <h2>Lorem ipsum</h2>
                    <p>Some text...</p>
                </div>
                <div class="tab-bar-2-tabs">
                    <img
                        src="../images/tab-bar-2-img-2.png"
                        width="100"
                        height="100"
                        class="tab-bar-2-image"
                    />
                    <h2>Lorem ipsum</h2>
                    <p>Some text...</p>
                </div>
            </div>

            <div class="tab-bar-2-tabs-row tab-bar-2-tabs-row-bottom">
                <div class="tab-bar-2-tabs">
                    <img
                        src="../images/tab-bar-2-img-3.png"
                        width="100"
                        height="100"
                        class="tab-bar-2-image"
                    />
                    <h2>Lorem ipsum</h2>
                    <p>Some text...</p>
                </div>
                <div class="tab-bar-2-tabs">
                    <img
                        src="../images/tab-bar-2-img-1.png "
                        width="100"
                        height="100"
                        class="tab-bar-2-image"
                    />
                    <h2>Lorem ipsum</h2>
                    <p>Some text...</p>
                </div>
                <div class="tab-bar-2-tabs">
                    <img
                        src="../images/tab-bar-2-img-2.png"
                        width="100"
                        height="100"
                        class="tab-bar-2-image"
                    />
                    <h2>Lorem ipsum</h2>
                    <p>Some text...</p>
                </div>
            </div>
            <button class="tab-bar-2-tabs-button">View More</button>
        </div>
        <div class="tab-bar-3">
            <div class="tab-bar-3-container tab-bar-3-left-container">
                <h2 class="tab-bar-3-container-textarea">VR set</h2>
                <p class="tab-bar-3-container-textarea">
                    VR set is very useful for interactive learning experiences.
                </p>
                <button
                    class="tab-bar-3-container-textarea tab-bar-3-container-button"
                >
                    Get you free VR set
                </button>
            </div>
            <div class="tab-bar-3-container tab-bar-3-right-container">
                <img
                    src="../images/tab-bar-3-img-1.png"
                    class="tab-bar-3-image"
                />
            </div>
        </div>
    </body>
</html>
