<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="The best website about VR" />
        <title></title>
        <link rel="stylesheet" href="../css/global.css" />
        <script defer src="../js/tab-bar-1.js"></script>
    </head>
    <body>
        <div class="tab-bar-1">
            <div class="tab-bar-1-image-container">
                <img
                    src="../images/tab-bar-1-img-1.png"
                    class="tab-bar-1-image"
                />
                <p class="tab-bar-1-image-text">
                    A simulated experience that employs 3D near-eye displays
                </p>
            </div>
            <div class="tab-bar-1-tiles">
                <div class="tab-bar-1-tile tab1-tile1">
                    <h2>Virtual reality</h2>
                    <p>
                        A simulated experience that employs 3D near-eye displays
                        and pose tracking to give the user an immersive feel of
                        a virtual world.
                    </p>
                </div>
                <div class="tab-bar-1-tile tab1-tile2">
                    <h2>Immersive technology</h2>
                    <p>
                        A full immersive technology experience happens when all
                        elements of sight, sound, and touch come together.
                    </p>
                </div>
                <div class="tab-bar-1-tile tab1-tile3">
                    <h2>Tactical immersion</h2>
                    <p>
                        Experienced when performing tactile operations that
                        involve skill.
                    </p>
                </div>
                <div class="tab-bar-1-tile tab-bar-1-tile-bottom tab1-tile4">
                    <h2>VR headset</h2>
                    <p>
                        A head-mounted device that uses 3D near-eye displays and
                        positional tracking to provide a virtual reality
                        environment for the user.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
