<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="The best website about VR" />
        <title></title>
        <link rel="stylesheet" href="../css/global.css" />
        <script defer src="../js/tab-bar-3.js"></script>
    </head>
    <body>
        <div class="tab-bar-3">
            <div class="tab-bar-3-container tab-bar-3-left-container">
                <h2 class="tab-bar-3-container-textarea">VR set</h2>
                <p class="tab-bar-3-container-textarea">
                    VR set is very useful for interactive learning experiences.
                </p>
                <button class="tab-bar-3-container-textarea tab-bar-3-button">
                    Get you free VR set
                </button>
            </div>
            <div class="tab-bar-3-container tab-bar-3-right-container">
                <img
                    src="../images/tab-bar-3-img-1.png"
                    class="tab-bar-3-image"
                />
            </div>
        </div>
    </body>
</html>
