<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="The best website about VR" />
        <title></title>
        <link rel="stylesheet" href="../css/global.css" />
        <script defer src="../js/tab-bar-1.js"></script>
    </head>
    <body>
        <div class="tab-bar-1">
            <div class="tab-bar-1-image-container">
                <img
                    src="../images/tab-bar-1-img-1.png"
                    class="tab-bar-1-image"
                />
                <p class="image-text">Some message about the image</p>
            </div>
            <div class="tab-bar-1-tabs">
                <div class="tab-bar-1-tab">
                    <h2>Tab 1 title</h2>
                    <p>Tab 1 description text...</p>
                </div>
                <div class="tab-bar-1-tab">
                    <h2>Tab 2 title</h2>
                    <p>Tab 2 description text...</p>
                </div>
                <div class="tab-bar-1-tab">
                    <h2>Tab 3 title</h2>
                    <p>Tab 3 description text...</p>
                </div>
                <div class="tab-bar-1-tab tab-bar-1-tab-bottom">
                    <h2>Tab 4 title</h2>
                    <p>Tab 4 description text...</p>
                </div>
            </div>
        </div>
    </body>
</html>
