<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="The best website about VR" />
        <title></title>
        <link rel="stylesheet" href="../css/global.css" />
        <script defer src="../js/tab-bar-4.js"></script>
    </head>
    <body>
        <div class="tab-bar-4">
            <h2>What our customer say about us</h2>
            <p class="tab-bar-4-customer-message">Customer message</p>
            <div class="tab-bar-4-row">
                <div class="tab-bar-4-customer">
                    <img
                        src="../images/tab-bar-4-img-1.png"
                        class="tab-bar-4-customer-image"
                    />
                    <p class="tab-bar-4-customer-name">Feynman</p>
                    <p class="tab-bar-4-customer-use">Uses VR at work</p>
                </div>
                <div class="tab-bar-4-customer">
                    <img
                        src="../images/tab-bar-4-img-2.png"
                        class="tab-bar-4-customer-image"
                    />
                    <p class="tab-bar-4-customer-name">Tesla</p>
                    <p class="tab-bar-4-customer-use">Uses VR at work</p>
                </div>
                <div class="tab-bar-4-customer">
                    <img
                        src="../images/tab-bar-4-img-3.png"
                        class="tab-bar-4-customer-image"
                    />
                    <p class="tab-bar-4-customer-name">Einstein</p>
                    <p class="tab-bar-4-customer-use">Uses VR at work</p>
                </div>
            </div>
        </div>
    </body>
</html>
